/*common css start*/
* {
    padding: 0;
    margin: 0;
}

button,
a {
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    text-decoration: none;
}

ul li {
    list-style: none;
}

p {
    font-size: 14px;
    line-height: 1.4;
    font-family: 'Poppins', sans-serif;
}

img {
    width: 100%;
}

a:hover {
    text-decoration: none;
}

body {
    width: 100%;
    margin: 0 auto;
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
}

.section-title-outer {
    width: 100%;
    margin-bottom: 20px;
}

.section-title-outer .section-subtitle {
    font-size: 25px;
    font-weight: 600;
    color: #fff;
}

.section-title-outer .section-title {
    font-size: 40px;
    color: #ffff;
    margin-bottom: 0;
    word-spacing: 2px;
}
main{
    background: url(../images/home-contact-bg.png);
}
/*common css End*/

/*Header css start*/

/*Header top css start*/
.header-top-wrap {
    background: #fff;
    /* padding: 5px 0; */
}

.header-top-outer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 95px;
}

.header-top-list {
    display: flex;
    align-items: center;
    padding-left: 0;
    margin-bottom: 0;
    height: 100%;
}

.header-top-menu {
    height: 100%;
    display: flex;
    align-items: center;
}

.header-top-list-item {
    display: flex;
    align-items: center;
    height: 100%;
}

.header-top-list-item-link {
    padding: 10px;
    color: #000;
    font-size: 16px;
    font-weight: 500;
    height: 100%;
    display: flex;
    align-items: center;
}

.header-top-list-item-link:hover {
    color: #294e83;
}

.header-top-list-item.item-has-submenu {
    position: relative;
}

.header-top-list-item.item-has-submenu:hover .nav-item-submenu {
    opacity: 1;
    visibility: visible;
    margin-top: 0;
    left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.header-top-list-item-link i {
    margin-left: 6px;
    font-size: 12px;
    color: #000;
}

.header-top-list-item-link:hover i {
    color: #294e83;
    transform: rotate(180deg);
    transition: all .3s ease;
}
/*Header top css End*/

.header-section {
    position: relative;
    background: #294e83;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.nav-items-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    position: relative;
}
.brand-logo-outer{
    display: inline-block;
}
.brand-logo-outer .brand {
    max-width: 150px;
}
.header-section .navbar-brand {
  height: 100%;
  display: flex;
  align-items: center;
  padding: 15px 0;
}
.header-section .navbar-brand .brand {
    height: 100%;
}
.nav-items-wrapper .nav-list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0;
  height: 100%;
  padding-left: 0px;
}
.nav-list .nav-item {
  height: 100%;
  display: flex;
  align-items: center;
}
.nav-item:hover .nav-item-link {
  color: #fff;
}
.nav-item-link {
  position: relative;
  font-size: 16px;
  color: #fff;
  font-weight: 600;
  padding: 10px 17px;
  display: flex;
  align-items: center;
  height: 100%;
  text-transform: capitalize;
}

.nav-item-link i {
    margin-left: 6px;
    font-size: 12px;
    color: #fff;
}

.nav-item.item-has-submenu {
    position: relative;
}

.nav-item.item-has-submenu .nav-item-submenu {
    top: 50px;
}

.nav-item-submenu {
    position: absolute;
    top: 70px;
    background-color: #ffffff;
    left: -100%;
    opacity: 0;
    visibility: hidden;
    width: 220px;
    z-index: 10;
    border-radius: 0px 0px 10px 10px;
    padding-left: 0;
    transition: all .4s ease;
    box-shadow: rgb(0 0 0 / 24%) 0px 8px 8px;
}

.nav-item.item-has-submenu:hover .nav-item-submenu {
    opacity: 1;
    visibility: visible;
    margin-top: 0;
    left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.nav-item:hover .nav-item-link i {
    color: #fff;
    transform: rotate(180deg);
    transition: all .3s ease;
}

.submenu-item-link {
    color: #585555;
    display: block;
    font-size: 16px;
    padding: 5px 10px;
    text-transform: capitalize;
    transition: all 0.15s linear;
    font-weight: 500;
}

.submenu-item-link:hover {
    color: #21696c;
}

.submenu-item {
    border-bottom: 1px solid #f4f4f4;
}

.submenu-item:last-child {
    border-bottom: none;
}

.language-item-submenu {
    position: absolute;
    top: 70px;
    background-color: #ffffff;
    right: -100%;
    opacity: 0;
    visibility: hidden;
    width: 220px;
    z-index: 10;
    border-radius: 0px 0px 10px 10px;
    padding-left: 0;
    transition: all .4s ease;
    box-shadow: rgb(0 0 0 / 24%) 0px 8px 8px;
}

.header-top-list-item.item-has-submenu:hover .language-item-submenu {
    opacity: 1;
    visibility: visible;
    margin-top: 0;
    right: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

    /*small btn css*/
.nav-toggle-btn .btn-inner {
    width: 26px;
    border-bottom: 1px solid #fff;
    position: relative;
    transition: all .4s ease;
}
.nav-toggle-btn {
    height: 30px;
    width: 40px;
    align-items: center;
    justify-content: center;
    border: 1px solid #fff;
    padding: 5px;
    border-radius: 5px;
    display: none;
    cursor: pointer;
    position: relative;
    z-index: 999;
}
.nav-toggle-btn .btn-inner:before {
    content: "";
    height: 1px;
    width: 26px;
    position: absolute;
    background: #fff;
    top: -7px;
}
.nav-toggle-btn .btn-inner:after {
    content: "";
    height: 1px;
    width: 26px;
    position: absolute;
    background: #fff;
    top: 7px;
}

.menu-visible .nav-toggle-btn .btn-inner {
    border: transparent;
}

.menu-visible .nav-toggle-btn .btn-inner:before {
    transform: rotate(45deg);
    top: 0px;
    transition: all .3s ease;
}

.menu-visible .nav-toggle-btn .btn-inner:after {
    transform: rotate(-45deg);
    top: 0;
    transition: all .3s ease;
}

    /*fixed header*/
.fixed-header .header-bottom-wrap {
    position: fixed;
    background: #294e83;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 999;
    animation: smoothScroll 1s forwards;
}
@keyframes smoothScroll {
    0% {
        transform: translateY(-40px);
    }
    100% {
        transform: translateY(0px);
    }
}
/*Header css End*/

/*Complate project section css start*/
.complate-project-item {
    display: flex;
    /* align-items: center; */
    background: #fff;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #77f2b5;
}

.complate-project-title {
    font-size: 16px;
    font-weight: 300;
    color: #000;
/*    min-height: 70px;*/
}

.complate-project-image img {
    max-width: 75px;
    height: 75px;
    object-fit: contain;
}

.complate-project-image {
    border: 1px solid #ddd;
}

.complate-project-image-outer {
    margin-right: 10px;
}

.complate-project-image-outer .text {
    font-size: 12px;
    margin-bottom: 0;
    margin-top: 5px;
    color: #ff0000;
    color: #294e83;
    font-weight: 300;
    text-align: center;
}

.complate-project-text {
    color: #555;
    margin-bottom: 0;
}

.complate-project-section {
    padding: 50px 0;
}

.complate-project-item:hover {
}
/*Complate project section css End*/

/*Project section css start*/
.project-section {
    padding: 40px 0;
}

.project-item-wrap {
    background: #fff;
    display: block;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 5px;
}

.project-item-content {
    padding: 15px;
    margin-bottom: 20px;
}

.project-item-title {
    font-size: 18px;
    font-weight: 600;
    color: #000;
    margin-bottom: 5px;
}

.project-item-light-text {
    background: red;
    padding: 10px;
    font-size: 15px;
    font-weight: 400;
    color: #fff;
    border-radius: 10px;
    margin-bottom: 10px;
}

.project-item-text {
    font-size: 14px;
    font-weight: 400;
    color: #555;
    line-height: 22px;
}

.progress-bar-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5px 0;
}

.progress-bar-top span {
    font-size: 13px;
    color: #555;
}

.progress-bar-outer .progress {
    height: 7px;
}

.project-item-content-bottom-btn {
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    margin-top: 20px;
    border: 1px solid #ddd;
    padding: 10px 15px;
    border-radius: 5px;
    color: #000;
    transition: all .3s ease;
}

.project-item-content-bottom-btn:hover {
    background: #000;
    color: #fff;
}
/*Project section css End*/

/*Footer section css start*/
.footer-section {
    padding: 20px 0px;
    background: #294e83;
    border-top: 1px solid #dedf60;
}

.footer-items-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-list-item-link {
    display: block;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    transition: all .3s ease-in-out;
}

.footer-list-item-link:hover{
    color: #75f3b0;
}
/*Footer section css End*/
